# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

backend/frontend/generated

# misc
.DS_Store

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# local env files
frontend/.env*.local

# vercel
frontend/.vercel

# typescript
frontend/*.tsbuildinfo
frontend/next-env.d.ts

#vscode
frontend/.vscode/

backend/.idea/

#Intellij
.idea
