@import "theme-editor.css";
/* Profile Card Styles */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');



/*.martian-mono-1 {*/
/*   font-family: "Martian Mono", monospace;*/
/*   font-optical-sizing: auto;*/
/*   font-style: normal;*/
/*   font-variation-settings: "wdth" 100;*/
/*}*/



/** {*/
/*    font-family: 'Inter', sans-serif;*/
/*}*/

:root {
    --primary : #300040;
    --primary-text : #FFFFFA;
}


[theme~="dark"] {
    --lumo-primary-color: black;
    --lumo-base-color : black;
    --lumo-primary-text-color : white;
}


.profile-card {
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.profile-card-header {
    background-color: #007bff;
    color: #fff;
    padding: 12px 16px;
}

.username {
    font-size: 18px;
    font-weight: bold;
}

.profile-card-content {
    padding: 16px;
}

.name {
    color: #343a40;
    margin-top: 0;
    margin-bottom: 8px;
}

.email {
    color: #6c757d;
    margin-bottom: 4px;
}

.date-created {
    color: #6c757d;
    font-size: 14px;
}

a {
    color : var(--primary-text);
}

vaadin-horizontal-layout:has(> a[highlight]) {
    background-color: var(--primary);
}

a:hover {
    text-decoration: none;
}

.drawer {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    background: hsl(0, 0%, 5%);
    height: 100%;
    gap: 0;
    width: fit-content;
}

.drawer > vaadin-horizontal-layout {
    border-radius: 5px;
    width: 100%;
    padding: 8px 16px;
    display: flex;
    align-items: center;
}

.drawer > vaadin-horizontal-layout:hover {
    background: hsl(0, 0%, 10%);
    cursor: pointer;
}

vaadin-horizontal-layout:has(> a[highlight]):hover {
    background-color: var(--primary);
}

vaadin-icon {
    height: 16px;
    width: 16px;
}

vaadin-button {
    background-color: var(--primary);
    color: var(--primary-text);
    cursor: pointer;
}

/* Post Card Styles*/
.post-image {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    flex-shrink: 0;
}

.post-list {
    min-height : 100px;
    height: fit-content;
    padding: 2rem;
}

.post-outer {
    display: flex;

}

.post-full {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 2px solid hsl(0, 0%, 10%);
    padding: 16px 16px;
    margin-bottom: 2em;
    gap : 1rem;
}

.post-card {
    display: flex;
    gap: 1rem;
    flex: 1 1 0;
}

.post-info {
    padding : 0;
}

.post-contact {
    display: flex;
    gap: 0.2rem;
    font-size: small;
    justify-content: flex-end;
    background: var(--primary);
    width: fit-content;
    padding: 0.5rem;
    align-self: self-end;
    border-radius: 4px;
}

.post-date {
    display: flex;
    gap: 0.2rem;
    font-size: small;
    justify-content: flex-end;
    background: var(--primary);
    width: fit-content;
    padding: 0.5rem;
    align-self: self-end;
    border-radius: 4px;
}

.post-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

/*Loading Status*/

.status-label{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
}

vaadin-drawer-toggle {
    cursor: pointer;
}

.sub-heading {
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 8px 16px;
    font-weight: bold;
    font-size: large;
    background: var(--primary);
    border-radius: 5px;
}

.all-channels-button {
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 8px 16px;
    font-weight: bold;
    font-size: large;
    background: var(--primary);
    border-radius: 5px;
    width: 100%;
}

.sub-heading:hover {
    cursor: default;
    text-align: center;
}

/*Search Page */

.all-channels {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
    padding: 2rem;
}

.channel-div {
    border: 2px solid hsl(0, 0%, 10%);
    border-radius: 8px;
    padding: 1rem;
}


.channel-div:hover {
    background: hsl(0, 0%, 10%);
    cursor: pointer;
}

.channel-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0 -8px;

}

.channel-description {
    flex-wrap: wrap;
}

.channel-date {
    font-size: small;
    color: #6c757d;
    text-align: end;
}

.search-text {
    padding: 1rem 2rem 0;
    font-size: x-large;
}

.loading {
    padding: 1rem 2rem 0;
    font-size: x-large;
}

.no-results {
    padding: 1rem 2rem 0;
    font-size: x-large;
}

.post-right-element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.channel-list-drawer {
    display: flex;
    flex-direction: column;
}
.channel-div-drawer {
    border-radius: 5px;
    width: 100%;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.channel-div-drawer:hover {
    background: hsl(0, 0%, 10%);
    cursor: pointer;
}

/*Comment Section*/
.new-comment-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.new-comment-field {
    flex: 1 1 0;
    padding: 0;
}

.comment-header {
    font-size: x-large;
    font-weight: bold;
}

.comment-section {
   /*background: hsl(0, 0%, 20%);*/
    background: hsl(0, 0%, 5%);
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.comment-deets{
    font-size: small;
    color: #6c757d;
    display: flex;
    justify-content: space-between;
}

.comment-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.comment-container {
    padding : 8px;
    background: hsl(0, 0%, 10%);
    border-radius: 8px;
}

.card {
    background: hsl(0, 0%, 10%);
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: fit-content;
}

/*Channel Page*/

.channel-header {
    padding: 0 2rem;
    font-size: xx-large;
}

.header-channel-name {
    font-weight: bold;
    font-size: xxx-large;
    color: var(--primary);
}

.channel-buttons {
    margin-left: 2rem;
}

.create-channel-button {
    margin-left: 2rem;
}

.unsubscribe-channel-button {
    opacity: 50%;
}

.unsubscribe-channel-button:hover {
    cursor: default;
    background: var(--primary);
}

.post-list:nth-child(1) {
    display: none;
}

.channel-list-drawer {
    overflow: hidden;
}
