
spring:
  application:
    name: cockroachdb
  datasource:
    url: jdbc:postgresql://ooad-scenes-4187.7s5.aws-ap-south-1.cockroachlabs.cloud:26257/aryo?sslmode=require&user=anonimoose&password=Q1VgCACPgPWR5LhblCHVvA
    username: anonimoose
    password: Q1VgCACPgPWR5LhblCHVvA
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true
      database: aryo
      database-platform: org.hibernate.dialect.PostgreSQLDialect

jwt:
  rsa-private-key: classpath:certs/privateKey.pem
  rsa-public-key: classpath:certs/publicKey.pem
